<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keyword="Eten, Eten vergelijker, gezond, Voedsel">
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
    <script src="https://kit.fontawesome.com/f8991e1757.js" crossorigin="anonymous"></script>
    <!-- <title><%= title %></title> -->
  </head>
  <body class="bg-black">


      <main class="w-screen">

        <!-- FILEPATH: /Users/wesleyveeningen/Documents/GitHub/Food-Comapairer/views/index.ejs -->
        <!-- BEGIN: ed8c6549bwf9 -->
 
<form class="container">   

</form>

        <!-- END: ed8c6549bwf9 -->

      </main>
      

    <script src="https://cdn.tailwindcss.com/2.2.19/tailwind.min.js"></script>


  </body>
</html>
