<!DOCTYPE html>
<html>
  <head>
    <% include ../include/main-layout.ejs %>
    <title><%= title %></title>
  </head>
  <body>

    

    <!-- <% recipes.forEach(function(recipe) { %>
      <p class="text-blue-500"><%= recipe.title %></p>
    <% }) %> -->



  </body>
</html>
