<link rel="stylesheet" href="/stylesheets/tailwind.css">
<script src="https://kit.fontawesome.com/f8991e1757.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<nav>
  <div id="mobile_nav" class="max-md:flex md:hidden justify-between py-3 bg-stone-800">
    <div class="nav-brand">
      <p class="text-white text-3xl m-2">F<span class="text-yellow-500">C</span></p>
    </div>
    <div class="nav-dropdown-btn">
      <i onclick="toggleDropdown()" class="fas fa-bars relative right-4 top-0 text-4xl text-white  m-2 "></i>
    </div>
    <div
      class="nav-dropdownItems hidden flex-col animate__animated animate__slideInDown flex items-center h-screen pt-52 text-4xl space-y-5 right-0 absolute w-screen bg-stone-800 text-white">
      <a href="#">Home</a>
      <a href="#">Recipes</a>
      <hr class="text-white w-[20rem] px-10">
      <a class=""><i class="fa-solid bg-white p-3 rounded-full text-black fa-user"></i></a>
      <i onclick="toggleDropdown()" class="fa-solid absolute top-[-1rem] right-6 fa-x"></i>
    </div>
  </div>

  <div id="destop_nav" class="min-md:flex flex max-md:hidden w-screen justify-between items-center py-3 bg-stone-800">
    <div class="nav-brand">
      <p class="text-white text-3xl m-2">Food<span class="text-yellow-500">Compairer</span></p>
    </div>
    <div class="nav-items flex flex-row space-x-5">
      <a href="#" class="text-white text-2xl m-2">Home</a>
      <a href="#" class="text-white text-2xl m-2">Recipes</a>
      <a href="#" class="text-white text-2xl m-2">About</a>
      <a href="#" class="text-white text-2xl m-2">Contact</a>
    </div>
    <div class="nav-user flex flex-row space-x-5">
      <a href="#" class="text-white text-2xl m-2"><i class="fa-solid bg-white p-3 rounded-full text-black fa-user"></i></a>
  </div>

</nav>

<script src="/javascript/nav.js"></script>